---
title: AWS Reference Architecture
owner: Customer0
---

This topic describes a reference architecture for <%= vars.platform_name %>, including <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) and <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>), on Amazon Web Services (AWS). It builds on the common base architectures described in [Platform Architecture and Planning Overview](../index.html).

For general requirements for running <%= vars.platform_name %> and specific requirements for running <%= vars.platform_name %> on AWS, see [<%= vars.platform_name %> on AWS Requirements](../../customizing/aws.html).


## <a id="pas"></a> <%= vars.app_runtime_abbr %>

This section describes a reference architecture for a <%= vars.app_runtime_abbr %> installation on AWS.

### <a id="diagram"></a> Diagram

The diagram below illustrates the reference architecture for <%= vars.app_runtime_abbr %> on AWS.

![This diagram illustrates <%= vars.app_runtime_abbr %> on AWS. For specific details about the components and communication represented by the diagram, see the base and AWS reference architectures.](PAS_AWS.png)

[View a larger version of this diagram](https://raw.githubusercontent.com/pivotal-cf/docs-pcf-refarch/master/images/PAS_AWS.png).

### <a id="networking"></a> Networking

These sections provide guidance about networking resources.

#### <a id="dns"></a> DNS

You can use AWS Route 53 for DNS resolution to host your <%= vars.app_runtime_abbr %> domains.

#### <a id="lb"></a> Load Balancing

AWS offer Application Load Balancers (ALBs) and Network Load Balancers (NLBs). <%= vars.company_name %> recommends using NLBs because of the simplicity and security of leaving all encrypted traffic in place until it reaches the Gorouters. If you require Amazon Certificate Management or more complex Layer 7 routing rules, you can front or replace the NLB with an ALB.

#### <a id="subnets"></a> Networks, Subnets, and IP Spacing Planning

When planning networks, subnets, and IP spacing, some things to consider are:

* In AWS, each availability zone (AZ) requires its own subnet of which the first five IPs are reserved.

* Your organization might not have the IP space necessary to deploy <%= vars.app_runtime_abbr %> in a consistent manner. To alleviate this, <%= vars.company_name %> recommends using the `100.64` address space to deploy a NAT instance and router so that the <%= vars.platform_name %> deployment can use few IP addresses.

* If you want the front end of <%= vars.app_runtime_abbr %> to be accessible from your corporate network or the services running on <%= vars.app_runtime_abbr %> to be able to access corporate resources, you must either provide routable IPs to your VPC or use NAT.

* If you want a VPC that is only public-facing, no special consideration is necessary for the use of IPs.

* To understand the action required depending on the type of traffic you want to allow for your <%= vars.platform_name %> deployment, see the table below:
	<table>
		<tr>
			<th>If you want...</th>
			<th>then...</th>
		</tr>
		<tr>
			<td>Internet ingress</td>
			<td>Create the load balancers with Elastic IPs.</td>
		</tr>
		<tr>
			<td>Internet egress</td>
			<td>Create the NAT Gateway toward the Internet.</td>
		</tr>
		<tr>
			<td>Corporate ingress</td>
			<td>Create load balancers on your corporate subnet.</td>
		</tr>
		<tr>
			<td>Corporate egress (for accessing corporate resources)</td>
			<td>Create the NAT instance on your corporate subnet or if business requirements dictate, make the entire VPC corporate-routable.</td>
		</tr>
	</table>

* If you plan to install [VMware Tanzu Service Broker for AWS](https://docs.pivotal.io/aws-services/index.html), you might want to create another set of networks in addition to those outlined in the base reference architecture. This set of networks would be used for RDS and other AWS-managed instances.

#### <a id="alternatives"></a> Alternative Network Layouts

These options are available for choosing your network topology:

<table>
	<tr>
		<th>Type of Traffic</th>
		<th>Options</th>
	</tr>
	<tr>
		<td>Internet ingress</td>
		<td><ul>
				<li>Allow Internet ingress by associating load balancers with elastic IPs.</li>
				<li>Do not allow Internet ingress.</li>
			</ul></td>
	</tr>
	<tr>
		<td>Internet egress</td>
		<td>
			<ul>
				<li>Allow <%= vars.app_runtime_abbr %> to access the Internet through a NAT gateway.</li>
				<li>Do not allow <%= vars.app_runtime_abbr %> to access the Internet. Use only a corporate network.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>Peering</td>
		<td><ul>
				<li>Isolated. This is normally Internet-only facing.</li>
				<li>Peered with corporate or other VPCs through Transit Gateway.</li>
				<li>Peered directly with other VPCs and corporate connections.</li>
			</ul></td>
	</tr>
	<tr>
		<td>Corporate peering</td>
		<td><ul>
				<li>SNAT for corporate resources. This requires three corporate IPs.</li>
				<li>Routable IP addresses for VPC using <code>/20</code> or a larger CIDR block necessary.</li>
			</ul></td>
	</tr>
</table>

### <a id="rds"></a> RDS

Use a single RDS instance for BOSH and <%= vars.app_runtime_abbr %>. This instance requires several databases. For more information, see [Step 3: Director Config Page](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/aws/config-manual.html#pcfaws-om-dirconfig) in _Configuring BOSH Director on AWS_ and [External System Database Configuration](../../customizing/configure-pas.html#create-dbs) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id="blobstore"></a> Blobstore Storage Accounts

<%= vars.ops_manager %> requires a bucket for the BOSH blobstore.

<%= vars.app_runtime_abbr %> requires these buckets:

* Buildpacks
* Droplets
* Packages
* Resources

These buckets require an associated role for read/write access.

### <a id="identity-management"></a> Identity Management

For identity management, use Instance Profiles whenever possible. For example, the **AWS Config Page** of the BOSH Director tile provides a **Use AWS Instance Profile** option. For more information, see [Step 2: AWS Config Page](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/aws/config-manual.html#pcfaws-om-awsconfig) in _Configuring BOSH Director on AWS_.


## <a id="pks"></a> <%= vars.k8s_runtime_full %>

These sections describe a reference architecture for a <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>) installation on AWS.

### <a id="pks-diagram"></a> Diagram

The diagram below illustrates the reference architecture for <%= vars.k8s_runtime_abbr %> on AWS.

![This diagram illustrates <%= vars.k8s_runtime_abbr %> on AWS. For specific details about the components and communication represented by the diagram, see the base and AWS reference architectures.](../images/v2/export/PKS_AWS.png)

[View a larger version of this diagram](https://raw.githubusercontent.com/pivotal-cf/docs-pcf-refarch/master/images/v2/export/PKS_AWS.png).

### <a id="pks-networking"></a> Networking

These sections provide guidance about networking resources.

#### <a id="pks-dns"></a> DNS

You can use AWS Route 53 for DNS resolution to host your <%= vars.k8s_runtime_abbr %> domains.

#### <a id="pks-lb"></a> Load Balancing

You can configure a front end load balancer to enable public access to the <%= vars.k8s_runtime_abbr %> API VM.

For each <%= vars.k8s_runtime_abbr %> cluster, <%= vars.company_name %> recommends creating a load balancer for the corresponding master node or nodes. For more information, see [Creating and Configuring an AWS Load Balancer for Enterprise <%= vars.k8s_runtime_abbr %> Clusters](https://docs.pivotal.io/tkgi/aws-cluster-load-balancer.html).

For deployed workloads, Kubernetes can automatically create load balancers when applying the service definition to the app instances. For more information, see [Deploying and Exposing Basic Workloads](https://docs.pivotal.io/tkgi/deploy-workloads.html).

#### <a id="pks-subnets"></a> Networks, Subnets, and IP Spacing Planning

When planning networks, subnets, and IP spacing, some things to consider are:

* In AWS, each AZ requires its own subnet of which the first five IPs are reserved.

* If you want the front end of <%= vars.k8s_runtime_abbr %> to be accessible from your corporate network or the services running on <%= vars.k8s_runtime_abbr %> to be able to access corporate resources, you must either provide routable IPs to your VPC or use NAT.

* Create the <%= vars.k8s_runtime_abbr %> subnets that host the Kubernetes cluster VMs with enough IP address capacity to accommodate the number of VMs and clusters you expect to deploy. The reference architecture diagram above shows a `/24` CIDR for the <%= vars.k8s_runtime_abbr %> subnets, which allows for about 250 VMs per AZ. If you expect a larger number of clusters for your organization, consider defining larger subnets, such as `/20`, to make room for future growth.

#### <a id="pks-alternatives"></a> Alternative Network Layouts

These options are available for choosing your network topology:

<table>
  <tr>
    <th>Type of Traffic</th>
    <th>Options</th>
  </tr>
  <tr>
    <td>Internet Ingress</td>
    <td><ul>
        <li>Allow Internet ingress by associating load balancers with elastic IPs.</li>
        <li>Do not allow Internet ingress.</li>
      </ul></td>
  </tr>
  <tr>
    <td>Internet Egress</td>
    <td>
      <ul>
        <li>Allow nodes and pods to access the Internet through a NAT gateway.</li>
        <li>Do not allow nodes or pods to access the Internet. Use only a corporate network.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Peering</td>
    <td><ul>
        <li>Isolated. This is normally internet-only facing.</li>
        <li>Peered with corporate or other VPCs through Transit Gateway.</li>
        <li>Peered directly with other VPCs and corporate connections.</li>
      </ul></td>
  </tr>
  <tr>
    <td>Corporate Peering</td>
    <td><ul>
        <li>SNAT for corporate resources. This requires three corporate IPs.</li>
        <li>Routable IP Addresses for VPC using /20 or a larger CIDR block necessary.</li>
      </ul></td>
  </tr>
</table>

### <a id="pks-rds"></a> RDS

Use a single RDS instance for BOSH. This instance requires a database. For more information, see [Step 3: Director Config Page](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/aws/config-manual.html#pcfaws-om-dirconfig) in _Configuring BOSH Director on AWS_.

### <a id="pks-id"></a> Identity Management

To create and manage Kubernetes master and worker nodes, use Instance Profiles. For more information, see [Kubernetes Cloud Provider](https://docs.pivotal.io/tkgi/installing-aws.html#cloud-provider) in _Installing Enterprise <%= vars.k8s_runtime_abbr %> on AWS_.

For information about installing the required AWS constructs for <%= vars.k8s_runtime_abbr %>, see [Installing <%= vars.platform_name %> on AWS](../../customizing/aws.html).
