---
title: vSphere Reference Architecture
owner: Customer0
---

This topic describes a reference architecture for <%= vars.platform_name %> and any runtime products, including <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) and <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>), on vSphere.
It builds on the common base architectures described in [Platform Architecture and Planning](../index.html).

For additional requirements and installation instructions for <%= vars.platform_name %> on vSphere, see [Installing <%= vars.platform_name %> on vSphere](../../customizing/vsphere.html).


## <a id="overview"></a> Overview

The vSphere reference architecture for the <%= vars.app_runtime_abbr %> and <%= vars.k8s_runtime_abbr %> runtime tiles is based on software-defined networking (SDN) infrastructure.
vSphere offers NSX-T and NSX-V to support SDN infrastructure.

<%= vars.platform_name %> supports these configurations for vSphere deployments:

* <%= vars.app_runtime_abbr %> on vSphere with NSX-T. For more information, see [<%= vars.app_runtime_abbr %> on vSphere with NSX-T](#pas-nsx-t).

* <%= vars.app_runtime_abbr %> on vSphere with NSX-V. For more information, see [<%= vars.app_runtime_abbr %> on vSphere with NSX-V](#pas-nsx-v).

* <%= vars.app_runtime_abbr %> on vSphere without NSX. For more information, see [<%= vars.app_runtime_abbr %> on vSphere without NSX](#pas-no-nsx).

* <%= vars.k8s_runtime_abbr %> on vSphere with NSX-T. For more information, see [<%= vars.k8s_runtime_abbr %> on vSphere with NSX-T](#pks-nsx-t).

* <%= vars.k8s_runtime_abbr %> on vSphere without NSX-T. For more information, see [<%= vars.k8s_runtime_abbr %> on vSphere without NSX-T](#pks-without-nsx-t).

## <a id="pas-nsx-t"></a> <%= vars.app_runtime_abbr %> on vSphere with NSX-T

These sections describe the reference architecture for <%= vars.ops_manager %> with <%= vars.app_runtime_abbr %> on vSphere with NSX-T deployments.
They also provide requirements and recommendations for deploying <%= vars.ops_manager %> with <%= vars.app_runtime_abbr %> on vSphere with NSX-T,
such as network, load balancing, and storage capacity requirements and recommendations.

<%= vars.app_runtime_abbr %> on vSphere with NSX-T supports these following SDN features:

* Virtualized, encapsulated networks and encapsulated broadcast domains

* VLAN exhaustion avoidance with the use of virtualized Logical Networks

* DNAT/SNAT services to create separate, non-routable network spaces for the <%= vars.app_runtime_abbr %> installation

* Load balancing services to pass traffic through Layer 4 to pools of platform routers at Layer 7

* SSL termination at the load balancer at Layer 7 with the option to forward on at Layer 4 or 7 with unique certificates

* Virtual, distributed routing and firewall services native to the hypervisor

### <a id="pas-nsx-t-diagram"></a> Architecture

The diagram below illustrates reference architecture for <%= vars.app_runtime_abbr %> on vSphere with NSX-T deployments:

![The diagram shows the architecture for a <%= vars.app_runtime_abbr %> on vSphere with NSX-T deployment. For more information about the components and networking demonstrated by the diagram, read the description below this diagram.](../images/v2/export/PAS_vSphere_NSX-T.png)

[View a larger version of this diagram](../images/v2/export/PAS_vSphere_NSX-T.png).

<%= vars.app_runtime_abbr %> deployments with NSX-T are deployed with three clusters and three availability zones (AZs).

An NSX-T Tier-0 router is on the front end of the <%= vars.app_runtime_abbr %> deployment. This router is a central logical router into the <%= vars.app_runtime_abbr %> platform. You can configure static or dynamic routing using BGP from the routed IP address backbone through the Tier-0 router with the edge gateway.

Several Tier-1 routers, such as the router for the <%= vars.app_runtime_abbr %> and infrastructure subnets, connect to the Tier-0 router.

### <a id="pas-nsx-t-pas"></a> NSX-T Container Plugin Requirement

<%= vars.app_runtime_abbr %> deployments require the VMware NSX-T Container Plugin to enable the SDN features available through NSX-T.

The NSX-T Container Plugin enables a container networking stack and integrates with NSX-T.

<p class="note"><strong>Note:</strong> To use NSX-T with <%= vars.app_runtime_abbr %>, the NSX-T Container Plugin must be installed, configured, and deployed at the same time as the <%= vars.app_runtime_abbr %> tile. To download the NSX-T Container Plugin, go to the <a href="https://network.pivotal.io/products/vmware-nsx-t">VMware NSX-T Container Plug-in</a> page on <%= vars.product_network %>.</p>

### <a id="pas-nsx-t-networking"></a> Networking

These sections describe networking requirements and recommendations for <%= vars.app_runtime_abbr %> on vSphere with NSX-T deployments.

#### <a id="pas-nsx-t-routable-ip"></a> Routable IPs

The Tier-0 router must have routable external IP address space to advertise on the BGP network with its peers. Select a network range for the Tier-0 router with enough space so that you can separate the network into these two jobs:

* Routing incoming and outgoing traffic
* DNATs and SNATs, load balancer VIPs, and other platform components

<p class="note"><strong>Note:</strong> Compared to NSX-V, NSX-T consumes much more address space for SNATs.</p>

#### <a id="pas-nsx-t-dns"></a> DNS

<%= vars.app_runtime_abbr %> requires a system domain, app domain, and several wildcard domains.

For more information about DNS requirements for <%= vars.app_runtime_abbr %>, see [Domain Names](../index.html#pas-domains) in _Platform Planning and Architecture_.

#### <a id="pas-nsx-t-load-balancing"></a> Load Balancing

The load balancing requirements and recommendations for <%= vars.app_runtime_abbr %> on vSphere with NSX-T deployments are:

* You must configure NSX-T load balancers for the Gorouters.
  * The domains for the <%= vars.app_runtime_abbr %> system and apps must resolve to the load balancer VIP.
  * You must assign either a private or a public IP address assigned to the domains for the <%= vars.app_runtime_abbr %> system and apps.

* <%= vars.company_name %> recommends that you configure Layer 4 NSX-V load balancers for the Gorouters. With Layer 4 load balancers, traffic passes through the load balancers and SSL is terminated at the Gorouters. This approach reduces overhead processing.
  <p class='note'><strong>Note:</strong> You can use Layer 7 load balancers and terminate SSL at the load balancers. However, <%= vars.company_name %> discourages this approach because it adds additional overhead processing.</p>

* Any TCP Gorouters and SSH Proxies within the platform also require NSX-T load balancers.

* Layer 4 and Layer 7 NSX-T load balancers are created automatically during app deployment.

#### <a id="pas-nsx-t-networking-subnets-ip"></a> Networking, Subnets, and IP Address Spacing

The requirements and recommendations related to networks, subnets, and IP address spacing for <%= vars.app_runtime_abbr %> on vSphere with NSX-T deployments are:

* <%= vars.app_runtime_abbr %> requires statically-defined networks to host its component VMs.

* The client side of an NSX-T deployment uses a series of non-routable address blocks when using DNAT/SNAT at the Tier-0 interface.

* The reference architecture for <%= vars.app_runtime_abbr %> on vSphere with NSX-T deployments uses a pattern in which all networks are calculated on the `/24` 8-bit network boundary. The network octet is numerically sequential.

* NSX-T dynamically assigns <%= vars.app_runtime_abbr %> org networks and adds a Tier-1 router. These org networks are automatically instantiated based on a non-overlapping block of address space. You can configure the block of address space in the **NCP Configuration** section of the NSX-T tile in <%= vars.ops_manager %>. The default is `/24`. This means that every org in <%= vars.app_runtime_abbr %> is assigned a new `/24` network.

For more information about <%= vars.app_runtime_abbr %> subnets, see [Required Subnets](../index.html#pas-network) in _Platform Architecture and Planning Overview_.

### <a id="pas-nsx-t-ha"></a> High Availability

For information about high availability (HA) requirements and recommendations for <%= vars.app_runtime_abbr %> on vSphere, see [High Availability](../index.html#pas-ha) in _Platform Architecture and Planning Overview_.

### <a id="pas-nsx-t-shared-storage"></a> Shared Storage

<%= vars.app_runtime_abbr %> requires shared storage.
You can allocate networked storage to the host clusters following one of two common approaches: horizontal or vertical.
The approach you follow reflects how your data center arranges its storage and host blocks in its physical layout.

#### <a id="horizontal-shared-storage"></a> Horizontal Shared Storage

With the horizontal shared storage approach, you grant all hosts access to all datastores and assign a subset to each <%= vars.app_runtime_abbr %> installation.

For example, with six datastores `ds01` through `ds06`, you grant all nine hosts access to all six datastores. You then provision your first <%= vars.app_runtime_abbr %> installation to use stores `ds01` through `ds03`  and your second <%= vars.app_runtime_abbr %> installation to use `ds04` through `ds06`.

#### <a id="vertical-shared-storage"></a> Vertical Shared Storage

With the vertical shared storage approach, you grant each cluster its own datastores, creating a cluster-aligned storage strategy. vSphere VSAN is an example of this architecture.

For example, with six datastores `ds01` through `ds06`, you assign datastores `ds01` and `ds02` to a cluster, `ds03` and `ds04` to a second cluster, and `ds05` and `ds06` to a third cluster. You then provision your first <%= vars.app_runtime_abbr %> installation to use `ds01`, `ds03`, and `ds05`, and your second <%= vars.app_runtime_abbr %> installation to use `ds02`, `ds04`, and `ds06`.

With this arrangement, all VMs in the same installation and cluster share a dedicated datastore.

### <a id="pas-nsx-t-storage-capacity"></a> Storage Capacity

<%= vars.company_name %> recommends these storage capacity allocations for production and non-production <%= vars.app_runtime_abbr %> environments:

* **Production environments**: Configure at least 8&nbsp;TB of data storage. You can configure this as either one 8&nbsp;TB store or a number of smaller volumes that sum to 8&nbsp;TB. Frequently-used developments might require significantly more storage to accommodate new code and buildpacks.

* **Non-production environments**: Configure 4 to 6&nbsp;TB of data storage.

<p class="note"><strong>Note:</strong> The latest versions of <%= vars.platform_name %> validated for the reference architecture do not support using vSphere Storage Clusters. Datastores should be listed in the vSphere tile by their native name, not the cluster name created by vCenter for the storage cluster.</p>

<p class="note"><strong>Note:</strong> If a datastore is part of a vSphere Storage Cluster using DRS storage (sDRS), you must disable the s-vMotion feature on any datastores used by <%= vars.platform_name %>. Otherwise, s-vMotion activity can rename independent disks and cause BOSH to malfunction. For more information, see <a href="./vsphere_migrate_datastore.html">Migrating <%= vars.platform_name %> to a New Datastore in vSphere</a>.</p>

For more information about general storage requirements and recommendations for <%= vars.app_runtime_abbr %>, see [Storage](../index.html#pas-storage) in _Platform Architecture and Planning Overview_.

### <a id="pas-nsx-t-sql"></a> SQL Server

An internal MySQL database is sufficient for use in production environments.

However, an external database provides more control over database management for large environments that require multiple data centers.

For information about configuring system databases on <%= vars.app_runtime_abbr %>, see [Configure System Databases](../../customizing/configure-pas.html#sys-db) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id="pas-nsx-t-securty"></a> Security

For information about security requirements and recommendations for <%= vars.app_runtime_abbr %> deployments, see [Security](../index.html#pas-security) in _Platform Architecture and Planning Overview_.

### <a id="pas-nsx-t-blobstore"></a> Blobstore Storage

<%= vars.company_name %> recommends that you use these blobstore storages for production and non-production <%= vars.app_runtime_abbr %> environments:

* **Production environments**: Use an S3 storage appliance as the blobstore.
* **Non-production environments**: Use an NFS/WebDAV blobstore.

<p class="note"><strong>Note:</strong> For non-production environments, the NFS/WebDAV blobstore can be the primary consumer of storage, as the NFS/WebDAV blobstore must be actively maintained. <%= vars.app_runtime_abbr %> deployments experience downtime during events such as storage upgrades or migrations to new disks.</p>

For more information about blobstore storage requirements and recommendations, see [Configure File Storage](https://docs.pivotal.io/application-service/<%= vars.current_major_version %>/operating/configuring.html#file-storage) in _Configuring <%= vars.app_runtime_abbr %> for Upgrades_.


## <a id="pas-nsx-v"></a> <%= vars.app_runtime_abbr %> on vSphere with NSX-V

These sections describe the reference architecture for <%= vars.app_runtime_abbr %> on vSphere with NSX-V deployments. They also provide requirements and recommendations for deploying <%= vars.app_runtime_abbr %> on vSphere with NSX-V, such as network, load balancing, and storage capacity requirements and recommendations.

<%= vars.app_runtime_abbr %> on vSphere with NSX-V enables services provided by NSX on the <%= vars.app_runtime_abbr %> platform, such as an Edge Services Gateway (ESG), load balancers, firewall services, and NAT/SNAT services.

### <a id="pas-nsx-v-diagram"></a> Architecture

The diagram below illustrates the reference architecture for <%= vars.app_runtime_abbr %> on vSphere with NSX-V deployments.

![The diagram shows the architecture for a <%= vars.app_runtime_abbr %> on vSphere with NSX-V deployment. For more information about the components and networking demonstrated by the diagram, read the description below this diagram.](../images/v2/export/PAS_vSphere_NSX-V.png)

[View a larger version of this diagram](../images/v2/export/PAS_vSphere_NSX-V.png).

<%= vars.app_runtime_abbr %> deployments with NSX-V are deployed with three clusters and three AZs.

<%= vars.app_runtime_abbr %> deployments with NSX-V also include an NSX-V Edge router on the front end. You can install the NSX-V Edge router as an ESG or as a distributed logical router (DLR).

The Edge router is a central logical router into the <%= vars.app_runtime_abbr %> platform. You can configure VLAN routing from the routed backbone into NSX-V through the Edge router.

Compared to NSX-T architecture, NSX-V architecture does not use Tier-1 routers to connect the central router to the various subnets for the <%= vars.app_runtime_abbr %> deployment.

For more information about using ESG on vSphere, see [Using Edge Services Gateway on VMware NSX](./vsphere_nsx_cookbook.html).

### <a id="pas-nsx-t-networking"></a> Networking

These sections describe networking requirements and recommendations for <%= vars.app_runtime_abbr %> on vSphere with NSX-V deployments.

#### <a id="pas-nsx-v-routable-ip"></a> Routable IPs

You must assign routable external IPs on the server side, such as routable IPs for NATs and load balancers, to the Edge router.

#### <a id="pas-nsx-v-dns"></a> DNS

<%= vars.app_runtime_abbr %> requires a system domain, app domain, and several wildcard domains.

For more information about DNS requirements for <%= vars.app_runtime_abbr %>, see [Domain Names](../index.html#pas-domains) in _Platform Planning and Architecture_.

#### <a id="pas-nsx-v-load-balancing"></a> Load Balancing

The load balancing requirements and recommendations for <%= vars.app_runtime_abbr %> on vSphere with NSX-V deployments are:

* NSX-V includes an Edge router. The Edge router supports ESG. ESG provides load balancing and is configured to route to the <%= vars.app_runtime_abbr %> platform.

* <%= vars.company_name %> recommends that you configure Layer 4 NSX-V load balancers for the Gorouters. With Layer 4 load balancers, traffic passes through the load balancers and SSL is terminated at the Gorouters. This approach reduces overhead processing.
  <p class='note'><strong>Note:</strong> You can use Layer 7 load balancers and terminate SSL at the load balancers. However, <%= vars.company_name %> discourages this approach because it adds additional overhead processing.</p>

* The domains for the <%= vars.app_runtime_abbr %> system and apps must resolve to the load balancer. You must assign either a private or a public IP address assigned to the domains for the <%= vars.app_runtime_abbr %> system and apps.

* Any TCP routers and SSH Proxies also require NSX-V load balancers.

* <%= vars.company_name %> recommends that you configure external load balancers in front of the Edge router. For example, you can configure an F5 external load balancer.

#### <a id="pas-nsx-v-ip-spacing"></a> Networks, Subnets, and IP Address Spacing

For information about network, subnet, and IP address space planning requirements and recommendations, see [Required Subnets](../index.html#pas-network) in _Platform Architecture and Planning Overview_.

### <a id="pas-nsx-v-ha"></a> High Availability

For information about HA requirements and recommendations for <%= vars.app_runtime_abbr %> on vSphere, see [High Availability](../index.html#pas-ha) in _Platform Architecture and Planning Overview_.

### <a id="pas-nsx-v-shared-storage"></a> Shared Storage

<%= vars.app_runtime_abbr %> requires shared storage. You can allocate networked storage to the host clusters following one of two common approaches: horizontal or vertical. The approach you follow reflects how your data center arranges its storage and host blocks in its physical layout.

For information about horizontal and vertical shared storage, see [Shared Storage](#pas-nsx-v-shared-storage).

### <a id="pas-nsx-v-storage-capacity"></a> Storage Capacity

<%= vars.company_name %> recommends these storage capacity allocations for production and non-production <%= vars.app_runtime_abbr %> environments:

* **Production environments**: Configure at least 8&nbsp;TB of data storage. You can configure this as either one 8&nbsp;TB store or a number of smaller volumes that sum to 8&nbsp;TB. Frequently-used developments might require significantly more storage to accommodate new code and buildpacks.

* **Non-production environments**: Configure 4 to 6&nbsp;TB of data storage.

<p class="note"><strong>Note:</strong> The latest versions of <%= vars.platform_name %> validated for the reference architecture do not support using vSphere Storage Clusters. Datastores should be listed in the vSphere tile by their native name, not the cluster name created by vCenter for the storage cluster.</p>

<p class="note"><strong>Note:</strong> If a datastore is part of a vSphere Storage Cluster using DRS storage (sDRS), you must disable the s-vMotion feature on any datastores used by <%= vars.platform_name %>. Otherwise, s-vMotion activity can rename independent disks and cause BOSH to malfunction. For more information, see <a href="./vsphere_migrate_datastore.html">How to Migrate <%= vars.platform_name %> to a New Datastore in vSphere</a>.</p>

For more information about general storage requirements and recommendations for <%= vars.app_runtime_abbr %>, see
[Storage](../index.html#pas-storage) in _Platform Architecture and Planning Overview_.

### <a id="pas-nsx-v-sql"></a> SQL Server

An internal MySQL database is sufficient for use in production environments.

However, an external database provides more control over database management for large environments that require multiple data centers.

For information about configuring system databases on <%= vars.app_runtime_abbr %>, see [Configure System Databases](../../customizing/configure-pas.html#sys-db) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id="pas-nsx-v-security"></a> Security

For information about security requirements and recommendations for <%= vars.app_runtime_abbr %> on vSphere deployments, see [Security](../index.html#pas-security) in _Platform Architecture and Planning Overview_.

### <a id="pas-nsx-v-blobstore"></a> Blobstore Storage

<%= vars.company_name %> recommends that you use these blobstore storages for production and non-production <%= vars.app_runtime_abbr %> environments:

* **Production environments**: Use an S3 storage appliance as the blobstore.
* **Non-production environments**: Use an NFS/WebDAV blobstore.

<p class="note"><strong>Note:</strong> For non-production environments, the NFS/WebDAV blobstore can be the primary consumer of storage, as the NFS/WebDAV blobstore must be actively maintained. <%= vars.app_runtime_abbr %> deployments experience downtime during events such as storage upgrades or migrations to new disks.</p>

For more information about blobstore storage requirements and recommendations, see [Configure File Storage](https://docs.pivotal.io/application-service/<%= vars.current_major_version %>/operating/configuring.html#file-storage) in _Configuring <%= vars.app_runtime_abbr %> for Upgrades_.


## <a id="pas-no-nsx"></a> <%= vars.app_runtime_abbr %> on vSphere without NSX

These sections describe the architecture for <%= vars.app_runtime_abbr %> on vSphere without software-defined networking deployments.

<p class="note"><strong>Note:</strong> This architecture was validated for earlier versions of <%= vars.app_runtime_abbr %>.
However, it has not been validated for <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>.
</p>

### <a id="pas-routed-networking"></a> Networking

Without an SDN, IP address allocations all come from routed network space. Discussions and planning within your organization are essential to acquiring the necessary amount of IP address space for a <%= vars.app_runtime_abbr %> deployment with future growth considerations. This is because routed IP address space is a premium resource, and adding more later is difficult, costly, and time-consuming.

Below is a best-guess layout for IP address space utilization in a single <%= vars.app_runtime_abbr %> deployment:

* Infrastructure - `/28`

* <%= vars.app_runtime_abbr %> deployment - `/23`<br>This size is almost completely dependent on the estimated desired capacity for containers. It can be smaller, but <%= vars.company_name %> discourages using a larger size in a single deployment.

* Services - `/23`<br>This size is almost completely dependent on the estimated desired capacity for services. Resize as necessary.

### <a id="pas-routed-iso-seg"></a> Isolation Segments

Isolation segments can help with satisfying IP address space needs in a routed network design. You can build smaller groups of Gorouters and Diego Cells aligned to a particular service. Smaller groups use less IP address space.

## <a id="pks-nsx-t"></a> <%= vars.k8s_runtime_abbr %> on vSphere with NSX-T

These sections describe the reference architecture for <%= vars.k8s_runtime_abbr %> on vSphere with NSX-T deployments. They also provide requirements and recommendations for deploying <%= vars.k8s_runtime_abbr %> on vSphere with NSX-T, such as network, load balancing, and storage capacity requirements and recommendations.

### <a id="pks-nsx-t-diagram"></a> Architecture

The diagram below illustrates the reference architecture for <%= vars.k8s_runtime_abbr %> on vSphere with NSX-T deployments.

![The diagram shows the architecture for a <%= vars.k8s_runtime_abbr %> on vSphere with NSX-T deployment. For more information about the components and networking demonstrated by the diagram, read the description below this diagram.](../images/v2/export/PKS_vSphere_NSX-T.png)

[View a larger version of this diagram](../images/v2/export/PKS_vSphere_NSX-T.png).

<%= vars.k8s_runtime_abbr %> deployments with NSX-T are deployed with three clusters and three AZs.

An NSX-T Tier-0 router is on the front end of the <%= vars.k8s_runtime_abbr %> deployment. This router is a central logical router into the <%= vars.k8s_runtime_abbr %> platform. You can configure static or dynamic routing using BGP from the routed IP address backbone through the Tier-0 router.

Several Tier-1 routers, such as the router for the infrastructure subnet, connect to the Tier-0 router. New Tier-1 routers are created on-demand as new clusters and namespaces are added to <%= vars.k8s_runtime_abbr %>.

<p class="note"><strong>Note:</strong> The <%= vars.k8s_runtime_abbr %> on vSphere with NSX-T architecture supports multiple master nodes for <%= vars.k8s_runtime_abbr %> v1.2 and later.</p>

### <a id="pks-nsx-t-networking"></a> Networking

These sections describe networking requirements and recommendations for <%= vars.k8s_runtime_abbr %> on vSphere with NSX-T deployments.

#### <a id="pks-nsx-t-load-balancing"></a> Load Balancing

The load balancing requirements and recommendations for <%= vars.k8s_runtime_abbr %> on vSphere with NSX-T deployments are:

* Use standard NSX-T load balancers. Layer 4 and Layer 7 NSX-T load balancers are created automatically during app deployment.

* Use both Layer 4 and Layer 7 load balancers:
	* Use Layer 7 load balancers for ingress routing.
	* Use Layer 4 load balancers for `LoadBalancer` services. This allows you to terminate SSL at the load balancers, which reduces overhead processing.

* NSX-T provides ingress routing natively. You can also use a third-party service for ingress routing, such as Istio or NGINX. You run the third-party ingress routing service as a container in the cluster.

* If you use a third-party ingress routing service, you must:
	* Create wildcard DNS entries to point to the service.
	* Define domain information for the ingress routing service in the manifest of the <%= vars.k8s_runtime_abbr %> on vSphere deployment. For example:

		```
		apiVersion: extensions/v1beta1
		kind: Ingress
		metadata:
		  name: music-ingress
		  namespace: music1
		spec:
		  rules:
		  - host: music1.pks.domain.com
		    http:
		      paths:
		      - path: /.*
		        backend:
		          serviceName: music-service
		          servicePort: 8080
		```

* When you push a <%= vars.k8s_runtime_abbr %> on vSphere deployment with a service `type` set to `LoadBalancer`, NSX-T automatically creates a new WIP for the deployment on the existing load balancer for that namespace. You must specify a listening and translation port in the service, a name for tagging, and a protocol. For example:

	```
	apiVersion: v1
	kind: Service
	metadata:
	  ...
	spec:
	  type: LoadBalancer
	  ports:
	  - port: 80
	    targetPort: 8080
	    protocol: TCP
	    name: web
    ```

#### <a id="pks-nsx-t-external-routing"></a> Routable IPs

The routable IP address requirements and recommendations for <%= vars.k8s_runtime_abbr %> with NSX-T deployments are:

* **Deployments with <%= vars.k8s_runtime_abbr %> NSX-T ingress:** <%= vars.company_name %> recommends a `/25` network for deployments with <%= vars.k8s_runtime_abbr %> NSX-T ingress. The Tier-0 router must have routable external IP address space to advertise on the BGP network with its peers.
	</br>
	</br>
	Select a network range for the Tier-0 router with enough space so that you can separate the network into these two jobs:
    * Routing incoming and outgoing traffic
    * DNATs and SNATs, load balancer WIPs, and other platform components
	<p class="note"><strong>Note:</strong> Compared to vSphere deployments with NSX-V, <%= vars.k8s_runtime_abbr %> on vSphere with NSX-T consumes much more address space for SNATs.</p>

* **Deployments with several load balancers:** <%= vars.company_name %> recommends a `/23` network for deployments that use several load balancers. Deployments with several load balancers have much higher address space consumption for load balancer WIPs. This is because Kubernetes service types allocate IP addresses very frequently. To accommodate the higher address space, allow for four times the address space.

#### <a id="pks-nsx-t-ip-spacing"></a> Networks, Subnets, and IP Address Spacing

These considerations and recommendations apply to networks, subnets, and IP address spacing for <%= vars.k8s_runtime_abbr %> on vSphere with NSX-T deployments:

* Allocate a large network block for <%= vars.k8s_runtime_abbr %> clusters and Pods:
	* **<%= vars.k8s_runtime_abbr %> clusters:** Configure a `172.24.0.0/14` network block.
	* **<%= vars.k8s_runtime_abbr %> pods:** Configure a `172.28.0.0/14` network block.
  <br>
  <br>
	NSX-T creates IP address blocks of `/24` from these `/14` networks by default each time a new cluster or Pod is created. You can configure this CIDR range for <%= vars.k8s_runtime_abbr %> in <%= vars.ops_manager %>.

* When deploying <%= vars.k8s_runtime_abbr %> with <%= vars.ops_manager %>, you must allow for a block of address space for dynamic networks that <%= vars.k8s_runtime_abbr %> deploys for each namespace. The recommended address space allows you to view a queue of which jobs relate to each service.

* When a new <%= vars.k8s_runtime_abbr %> cluster is created, <%= vars.k8s_runtime_abbr %> creates a new `/24` network from <%= vars.k8s_runtime_abbr %> cluster address space.

* When a new app is deployed, new NSX-T Tier-1 routers are generated and <%= vars.k8s_runtime_abbr %> creates a `/24` network from the <%= vars.k8s_runtime_abbr %> Pods network.

* Allocate a large IP address block in NSX-T for Kubernetes Pods. For example, a `/14` network. NSX-T creates address blocks of `/24` by default. This CIDR range for Kubernetes services network ranges is configurable in <%= vars.ops_manager %>.

For more information, see [Networks](../index.html#pks-network) in _Platform Architecture and Planning Overview_.

### <a id="pks-nsx-t-multitenancy"></a> Multi-Tenancy

For <%= vars.k8s_runtime_abbr %> on vSphere with NSX-T deployments, networks are created dynamically for both <%= vars.k8s_runtime_abbr %> clusters and Pods.

To accommodate these dynamically-created networks, <%= vars.company_name %> recommends that you use multiple clusters, rather than a single cluster with multiple namespaces.

Multiple clusters provide additional features such as security, customization on a per-cluster basis, privileged containers, failure domains, and version choice. Namespaces should be used as a naming construct and not as a tenancy construct.

### <a id="pks-nsx-t-master-nodes"></a> Master Nodes

The <%= vars.k8s_runtime_abbr %> on vSphere with NSX-T architecture supports multiple master nodes for <%= vars.k8s_runtime_abbr %> v1.2 and later.

You can define the number of master nodes per plan in the <%= vars.k8s_runtime_abbr %> tile in <%= vars.ops_manager %>. The number of master nodes should be an odd number to allow `etcd` to form a quorum.

<%= vars.company_name %> recommends that you have at least one master node per AZ for HA and disaster recovery.

### <a id="pks-nsx-t-ha"></a> High Availability

For information about HA requirements and recommendations, see [High Availability](../index.html#pks-ha) in _Platform Architecture and Planning Overview_.

### <a id="pks-nsx-t-storage-capacity"></a> Storage Capacity

<%= vars.company_name %> recommends the following storage capacity allocation for production and non-production <%= vars.k8s_runtime_abbr %> environments:

<%= vars.k8s_runtime_abbr %> on vSphere supports static persistent volume provisioning and dynamic persistent volume provisioning.

For more information about storage requirements and recommendations, see [PersistentVolume Storage Options on vSphere](https://docs.pivotal.io/tkgi/vsphere-persistent-storage.html)

### <a id="pks-nsx-t-security"></a> Security

For information about security requirements and recommendations, see [Security](../index.html#pks-security) in _Platform Architecture and Planning Overview_.

## <a id="pks-without-nsx-t"></a> <%= vars.k8s_runtime_abbr %> on vSphere without NSX-T

You can deploy <%= vars.k8s_runtime_abbr %> without NSX-T.
To deploy <%= vars.k8s_runtime_abbr %> without NSX-T, select
**Flannel** as your container network interface in the **Networking** pane of
the <%= vars.k8s_runtime_abbr %> tile.

Select from networks already identified in <%= vars.ops_manager %> to deploy the
<%= vars.k8s_runtime_abbr %> API and <%= vars.k8s_runtime_abbr %>-provisioned
Kubernetes clusters.
