---
title: Upgrading vSphere without TAS for VMs Downtime
owner: Customer0
---

<% current_page.data.title = "Upgrading vSphere without " + vars.app_runtime_abbr + " Downtime"  %>

This topic describes how to upgrade the vSphere components that host your <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) installation without service disruption.


## <a id="overview"></a> Minimum Requirements

At minimum, vSphere contains a vCenter Server and one or more ESXi hosts.

You cannot perform an in-place upgrade of vSphere without at least two ESXi hosts in your cluster.

If you do not meet this requirement, you have insufficient resources to evacuate an entire host. Because of this, you may experience <%= vars.app_runtime_abbr %> downtime during the upgrade.

To upgrade vSphere with only one ESXi host or without sufficient headroom capacity, you must reduce your <%= vars.app_runtime_abbr %> installation size. In other words, you can either reduce the number of Diego Cells in your deployment or pause VMs to make more capacity available. These actions can result in <%= vars.app_runtime_abbr %> downtime.


## <a id="rec_start"></a> Recommended Starting Configuration

If you are running a <%= vars.app_runtime_abbr %> deployment as recommended by the base reference architecture described in [vSphere Reference Architecture](vsphere_ref_arch.html), your vSphere installation should have these components:

* One vCenter Server
* Three ESXi hosts per cluster
* Three or more clusters
* One (or HA pair) NSX Edge appliances

<p class="note"><strong>Note:</strong> <%= vars.company_name %> recommends having at least three ESXi hosts in your cluster to maintain high availability (HA) during your upgrade.</p>


## <a id="upgrade_procedure"></a> Upgrade vSphere

These sections describe the procedure to upgrade the vSphere management layer underneath <%= vars.platform_name %>.

### <a id="upgrade_vcenter"></a> Step 1: Upgrade vCenter

For more information about how to upgrade vCenter, see [Overview of the vCenter Server Upgrade Process](https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vcenter.upgrade.doc/GUID-C5CBFB63-4E95-4143-BA89-89AA5D292C68.html?hWord=N4IghgNiBcIG4GMCmA7ALkgTgAgM5bi2wFcAHAc0zABMltTMB7ZXXEAXyA) in the vSphere documentation.

### <a id="upgrade_esxi"></a> Step 2: Upgrade ESXi Hosts

After a successful vCenter upgrade, you must upgrade your ESXi hosts one at a time, starting with the first ESXi host.

To upgrade your ESXi hosts:

1. Verify that your ESXi hosts have sufficient resources and headroom to evacuate the VM workload of a single ESXi host to the two remaining hosts.
    <p class="note"><strong>Note:</strong> If you have enabled vSphere HA on your ESXi host, each ESXi host should have sufficient headroom capacity, since vSphere HA reserves 66% of available memory.</p>

1. Use vMotion to move all the VMs on the host you want to upgrade to the other ESXi hosts. vMotion places the VMs on the other hosts based on available capacity. For more information, see [Migration with vMotion](https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.vcenterhost.doc/GUID-D19EA1CB-5222-49F9-A002-4F8692B92D63.html?hWord=N4IghgNiBcILIEsDmAnMAXBB7AdgAgHcF0ALPANzi01xAF8g) in the vSphere documentation.

1. Upgrade the evacuated ESXi host. For example, you may be upgrading from ESXi v6.0 to ESX v6.5. For more information, see [Upgrading ESXi Hosts](https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.esxi.upgrade.doc/GUID-122035F6-8433-463E-A0F7-B4FC71A05B04.html?hWord=N4IghgNiBcIKoAcDmAnMATAlgOyQAgFEBlADUzwAkB7AZwBcaQBfIA) in the vSphere documentation.

1. Repeat the previous steps for each remaining host, one at a time. vSphere automatically rebalances all <%= vars.app_runtime_abbr %> virtual machines back onto the upgraded hosts via DRS after all the hosts are done.

### <a id="upgrade_nsx"></a> Step 3: Upgrade ESG on VMware NSX

If your <%= vars.app_runtime_abbr %> deployment is on a network behind an Edge Services Gateway (ESG) as recommended in [vSphere Reference Architecture](vsphere_ref_arch.html), upgrade each ESG only after completing the upgrade of vCenter and your ESXi hosts.

When you upgrade an ESG on VMware NSX, you upgrade the NSX Manager software. This upgrade can cause some slight downtime, the amount of which depends on the number of ESGs you are using:

* If your deployment only has one ESG, you can expect a downtime of five minutes for network reconvergence.

* If your ESGs are deployed in HA, upgrade the first ESG. Then upgrade the second ESG. This upgrade causes only 15-20 seconds of downtime.

For more information, see [NSX Upgrade Guide](https://docs.vmware.com/en/VMware-NSX-Data-Center-for-vSphere/6.4/com.vmware.nsx.upgrade.doc/GUID-4613AC10-BC73-4404-AF80-26E924EF5FE0.html?hWord=N4IghgNiBcIHIGUAaACAqgBwOYCcwBMBTFAcQFcBLIkAXyA) in the VMware documentation.
